<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Homepage do Netflix</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/netflixfavicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='images/netflix-logo.png') }}" alt="Netflix">
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
            </ul>
        </nav>
    </header>
    <main class="">
        <div class="corpo">
            <div class="main">
                <div class="new-anime">
            
                    <p class="titles">{{ parMensagem }}</p>
                    
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>    
